alembic==1.12.1
antiorm==1.2.1
Babel==2.14.0
blinker==1.7.0
build==1.0.3
certifi==2023.11.17
chardet==3.0.4
click==8.1.7
colorama==0.4.6
config==0.5.1
db==0.1.1
distlib==0.3.8
dnspython
email-validator==2.1.0.post1
escape==1.1
filelock==3.13.1
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-Mail
flask-marshmallow
Flask-MySQL
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
httplib2
idna
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
marshmallow
mysqlclient
nose==1.3.7
packaging==23.2
passlib==1.7.4
pipenv
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.4.8
PyMySQL
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv
python-editor==1.0.4
setuptools==69.0.2
six==1.16.0
speaklater==1.3
SQLAlchemy
timeago==1.0.15
typing_extensions==4.8.0
virtualenv
visitor==0.1.3
Werkzeug
wheel
WTForms
